body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 530px;
  padding: 25px;
  margin: 0 auto;
  background: #FFFFFF;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logindiv > div > label{
  display: flex;
  font-weight: 400;
}

#logindiv > p{
  color: #03363D;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.signin_button{
  background-color: #FF6600;
  padding:15px 0;
  margin:12px 0;
  border:none;
  color:#fff;
  border-radius: 3px;
  width:100%;
}
header,
#banner,
#menubar,
#site_content1,
#site_content,
footer,
#content_grey,
nav {
  margin-left: auto;
  margin-right: auto;
}

#banner {
  width: 580px;
  position: relative;
  padding: 15px 0 0 0;
  background: #9acd32;
}

#myradio {
  background-color: white;
  color: olive;
  font-weight: bold;
}

#welcome {
  float: center;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 10px 20px;
  background: transparent;
}

#welcome_slogan {
  float: center;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
  background: transparent;
}

#welcome H3 {
  font: normal 300% "News Cycle", Arial, sans-serif;
  letter-spacing: -3px;
  text-shadow: 1px 1px #000;
  color: #fff;
}

#welcome_slogan H3 {
  font: normal 200% "News Cycle", Arial, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #000;
  color: #fff;
}
