@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter.ttf");
  src: local("Inter"), url("../fonts/Inter/Inter.ttf");
}

html {
  height: 100%;
  font-family: "Inter";
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: normal 80% Arial, Helvetica, sans-serif;
  color: #000;
  background-image: url("images/w.gif");
}

/* tell the browser to render HTML 5 elements as block */
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

p {
  padding: 0 0 10px 0;
  color: #000;
  line-height: 1.7em;
  font-size: 100%;
}

img {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: bold 175% "News Cycle", Arial, sans-serif;
  color: #07363d;
  text-shadow: 1px 1px #fff;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
}

h2 {
  font: bold 165% "News Cycle", Arial, sans-serif;
}

h3 {
  font: bold 130% "News Cycle", Arial, sans-serif;
  color: #07363d;
}

h4,
h5,
h6 {
  margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% "News Cycle", Arial, sans-serif;
  color: #fff;
  line-height: 1.5em;
}

h5,
h6 {
  font: normal 95% "News Cycle", Arial, sans-serif;
  color: #888;
  padding-bottom: 15px;
}

span {
  color: #07363d;
  float: left;
  width: 280px;
  text-align: left;
  text-shadow: 1px 1px #fff;
}

a,
a:hover {
  color: #000;
  background: transparent;
  outline: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;
}

ol {
  margin: 8px 0 22px 20px;
}

ol li {
  margin: 0 0 11px 0;
}

#main,
header,
#banner,
#menubar,
#site_content,
footer,
#content_grey,
nav {
  margin-left: auto;
  margin-right: auto;
}

#main1 {
  background: #fff;
  background: -moz-linear-gradient(#a0a0a0, #fff);
  background: -o-linear-gradient(#a0a0a0, #fff);
  background: -webkit-linear-gradient(#a0a0a0, #fff);
}

#main {
  background: #1d1d1d url(../images/w.gif) repeat;
}

header {
  height: 110px;
  background: #1d1d1d url(../images/pattern.png) repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

#banner {
  width: 940px;
  position: relative;
  padding: 15px 0 0 0;
  background: transparent;
}

nav {
  height: 50px;
}

#menubar {
  width: 940px;
  height: 50px;
  text-align: center;
  margin-top: -25px;
  background: #07363d;
  background: -moz-linear-gradient(#43a9ff, #07363d);
  background: -o-linear-gradient(#43a9ff, #07363d);
  background: -webkit-linear-gradient(#43a9ff, #07363d);
  border: 1px solid #07363d;
}

#welcome {
  width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 10px 20px;
  background: transparent;
}

#welcome_slogan {
  width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
  background: transparent;
}

#welcome H3 {
  font: normal 400% "News Cycle", Arial, sans-serif;
  letter-spacing: -3px;
  text-shadow: 1px 1px #000;
  color: #fff;
}

#welcome_slogan H3 {
  font: normal 300% "News Cycle", Arial, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #000;
  color: #fff;
}

ul#nav {
  margin: 0;
}

ul#nav li {
  padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;
}

ul#nav li a {
  float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 1px 1px #000;
  padding: 6px 20px 0 20px;
  background: olive;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

ul#nav li.current a {
  color: #000;
  text-shadow: none;
}

ul#nav li:hover a {
  color: #000;
  text-shadow: none;
}

#site_content {
  width: 940px;
  overflow: hidden;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #bbb;
}

#site_content1 {
  width: 940px;
  overflow: hidden;
  margin-bottom: 30px;
  background: orange;
  border: 1px solid #bbb;
}

.sidebar_container {
  float: right;
  margin: 20px 10px 0 10px;
  width: 210px;
  padding: 0;
}

.sidebar {
  float: left;
  width: 190px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.sidebar_item {
  width: 190px;
}

.sidebar h2 {
  padding: 5px 0 0 0;
  font: bold 150% "News Cycle", Arial, sans-serif;
  height: 30px;
  text-shadow: 1px 1px #fff;
  color: #07363d;
}

.sidebar h3 {
  color: #43a9ff;
}

#content {
  width: 680px;
  margin: 0 0 20px 20px;
  float: left;
}

.content_item {
  width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_imagetext {
  width: 600px;
  padding: 5px;
  margin: 20px 0 0 0;
  float: left;
}

.content_image {
  float: left;
  width: 150px;
  height: 400px;
  margin: 0 20px 10px 0;
}

.content_container {
  width: 600px;
  padding: 5px;
  margin: 20px 10px 0 0;
  float: left;
}

footer {
  height: 50px;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px #fff;
  color: #07363d;
  background: #fff;
}

footer a,
footer a:hover {
  text-shadow: 1px 1px #fff;
  color: #07363d;
  text-decoration: none;
  padding-bottom: 20px;
}

footer a:hover {
  text-decoration: underline;
}

footer a,
footer a:hover {
  text-shadow: 1px 1px #fff;
  color: #07363d;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.readmore a {
  color: #fff;
  text-shadow: 1px 1px #004c8c;
}

.button_small {
  font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  padding: 5px 2px 7px 2px;
  border: 1px solid #fff;
  background: #07363d;
  background: -moz-linear-gradient(#43a9ff, #07363d);
  background: -o-linear-gradient(#43a9ff, #07363d);
  background: -webkit-linear-gradient(#43a9ff, #07363d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.button_small a {
  color: #fff;
  padding-left: 5px;
  text-shadow: 1px 1px #004c8c;
}

.form_settings {
  margin: 15px 0 0 0;
}

.form_settings p {
  padding: 0 0 4px 0;
}

.form_settings span {
  float: left;
  width: 280px;
  text-align: left;
  text-shadow: none;
}

.form_settings input,
.form_settings textarea {
  padding: 2px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #e5e5db;
  background: #fff;
  color: #47433f;
}

.form_settings input[type="checkbox"] {
  padding: 2px 0;
  width: 15px;
  font: 100% arial;
  border: 0;
  background: #fff;
  color: #47433f;
  margin: 28px 0;
}

.form_settings .submit {
  font: 100% arial;
  border: 1px solid;
  width: 99px;
  margin: 0 0 0 206px;
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #07363d;
  background: -moz-linear-gradient(#43a9ff, #07363d);
  background: -o-linear-gradient(#43a9ff, #07363d);
  background: -webkit-linear-gradient(#43a9ff, #07363d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: #fff;
}

.slideshow {
  width: 940px;
  height: 300px;
  float: left;
  margin: 20px 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 940px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0;
}

ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}

ul.slideshow li.show {
  z-index: 500;
}

ul img {
  border: none;
}

#slideshow-caption {
  width: 940px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;
}

#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px;
  background: transparent url(../images/transparent.png) repeat;
  z-index: 1000;
}

#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #fff;
  text-shadow: 1px 1px #000;
}

#contact-form {
  background-color: #f2f7f9;
  width: 465px;
  padding: 20px;
  margin: 50px auto;
  border: 6px solid #8fb5c1;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}

#contact-form h1 {
  font-size: 42px;
}

#contact-form h2 {
  margin-bottom: 15px;
  font-style: italic;
  font-weight: normal;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
  font-size: 15px;
  margin-bottom: 2px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
  width: 450px;
  border: 1px solid #cee1e8;
  margin-bottom: 20px;
  padding: 4px;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
  border: 1px solid #afcdd8;
  background-color: #ebf2f4;
}

#contact-form textarea {
  height: 150px;
  resize: none;
}

#contact-form label {
  display: block;
}

#contact-form .required {
  font-weight: bold;
  color: #f00;
}

#contact-form #submit-button {
  font: 100% arial;
  border: 1px solid;
  width: 100px;
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #07363d;
  background: -moz-linear-gradient(#43a9ff, #07363d);
  background: -o-linear-gradient(#43a9ff, #07363d);
  background: -webkit-linear-gradient(#43a9ff, #07363d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: #fff;
  float: right;
  margin-bottom: 0px;
  margin-right: 6px;
}

#contact-form #submit-button:hover {
  background-color: #a6cfdd;
}

#contact-form #submit-button:active {
  position: relative;
  top: 1px;
}

#contact-form #loading {
  width: 32px;
  height: 32px;
  background-image: url(../img/loading.gif);
  display: block;
  position: absolute;
  right: 130px;
  bottom: 16px;
  display: none;
}

#errors {
  border: solid 1px #e58e8e;
  padding: 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #ffe6e6 url(../img/cancel_48.png) no-repeat 405px center;
  display: none;
}

#errors li {
  padding: 2px;
  list-style: none;
}

#errors li:before {
  content: " - ";
}

#errors #info {
  font-weight: bold;
}

#errors #info:before {
  content: "";
}

#success {
  border: solid 1px #83d186;
  padding: 25px 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #d3edd3 url(../img/accepted_48.png) no-repeat 405px center;
  font-weight: bold;
  display: none;
}

#errors.visible,
#success.visible {
  display: block;
}

#req-field-desc {
  font-style: italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required,
textarea:required {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}

/* mozilla */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
  font-style: italic;
}

/* ie (faux placeholder) */
input.placeholder-text,
textarea.placeholder-text {
  color: #ccc;
  font-style: italic;
}
